---
import { getCollection } from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import DateFormatter from '../components/DateFormatter.vue'
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts'

const posts = (await getCollection('blog')).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-slate-100 dark:bg-slate-900">
		<Header />
		<main class="mt-[72px] pt-8 flex flex-col items-center">
			<div class="flex flex-col min-w-[640px]">
				<div class="flex items-center gap-2 text-sm text-black/25">
					<span>@tmg0</span>
					<span>:</span>
					<span>home</span>
					<span>/</span>
					<span>blog</span>
				</div>

				<div class="my-20 text-4xl">
					Blog
				</div>

				<section class="w-full flex flex-col gap-4">
					{
						posts.map(post => (
							<a href={`/${post.slug}/`} class="flex items-center gap-4">
								<DateFormatter value={post.data.pubDate} class="text-black/25" />
								<span class="underline text-black/75">{post.data.title}</span>
							</a>
						))
					}
				</section>
			</div>
		</main>
	</body>
</html>
